
h2{
    text-align: center;
}
#offline{
    display: none;
    width: 100%;height: 48px;
    line-height: 48px;
    font-weight: 900;
    background-color: red;
    color: white;
    text-align: center;
}
#puntuaciones{
    position: relative;
    left: 15%;
    border: 1px solid black;
    width: 70%;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#puntuaciones th{
    text-align: center;
    background-color: aqua;
}
#puntuaciones td{
    text-align: center;
    border-top: 1px solid black;
}
footer{
    width: 100%;
    position: absolute;
    background-color: aqua;
    bottom: 0px;
    text-align: center;
}