
h2{
    text-align: center;
}
#offline{
    display: none;
    width: 100%;height: 48px;
    line-height: 48px;
    font-weight: 900;
    background-color: red;
    color: white;
    text-align: center;
}
#puntuaciones{
    position: relative;
    left: 15%;
    border: 1px solid black;
    width: 70%;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#puntuaciones th{
    text-align: center;
    background-color: aqua;
}
#puntuaciones td{
    text-align: center;
    border-top: 1px solid black;
}
footer{
    
    position: relative;
    background-color: aqua;
    bottom: 0px;
    text-align: center;
    left: 0%;
    width: 100%;
}
#reloj img{
    height: 100px;
}
.seleccionado{
    background-color: yellow;
}
.correcta{
    background-color: lightgreen;
}
.incorrecta{
    background-color: red;
}
.contenedorSopaLetras{
    width: 0%;
    margin-top: 40px;
    margin-bottom: 60px;
    position: relative;
    left: 33%;
    visibility: hidden;
}
.contenedorSopaLetras table{
    border: 1px solid black;
    & td{
        border: 1px solid salmon;
        padding: 10px;
        font-weight: bold;
    }
}
#palabrasClave{
    position: relative;
    margin-top: 40px;
    width: 30%;
    left: 37%;
}
button{
    margin: 20px;
    position: relative;
    left: 44%;
}